// Override default variables before the import
$border-color: #999;
$danger: #ea3943;
$success: #20d786;
$link-color: $success;
$body-bg: #222;
$body-color: #fff;
$input-placeholder-color: #ddd !default;
$blue: #000 !default;
$nav-link-color: #fff;
$nav-link-hover-color: #20d786;
$nav-pills-link-active-color: #20d786;
$nav-pills-link-active-bg: transparent;
$list-group-color: #fff;
$list-group-bg: $body-bg;
$list-group-border-color: $border-color;
$card-color: #fff;
$card-bg: $body-bg;
$card-border-color: $border-color;
$font-weight-base: 300;
$font-family-sans-serif: "Helvetica Neue";

// $input-focus-bg:                        $input-bg !default;
$input-focus-border-color: inherit !important;
// $input-focus-color:                     $input-color !default;
// $input-focus-width:                     $input-btn-focus-width !default;
$input-focus-box-shadow: none !important;

// // // // // Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
